<h2>New Restaurant</h2>

<form action="/restaurants" method="post">
  <p>
    <label>Name:</label>
    <input type="text" name="restaurant[name]"/>
  </p>
  <p>
    <label>Owner:</label>
    <input type="text" name="restaurant[owner]"/>
  </p>
  <p>
    <label>Type:</label>
    <input type="text" name="restaurant[type]"/>
  </p>
  <p>
    <label>Capacity:</label>
    <input type="number" name="restaurant[capacity]"/>
  </p>
  <p>
    <input type="submit" value="Submit"/>
  </p>
</form>
